<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.seer.dao.AdmininfoMapper">
  <resultMap id="BaseResultMap" type="com.nf147.seer.entity.Admininfo">
    <id column="admin_id" jdbcType="INTEGER" property="adminId" />
    <result column="admin_user_id" jdbcType="INTEGER" property="adminUserId" />
    <result column="admin_type_id" jdbcType="INTEGER" property="adminTypeId" />
    <result column="admin_time" jdbcType="TIMESTAMP" property="adminTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seer_admin_info
    where admin_id = #{adminId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.seer.entity.Admininfo">
    insert into seer_admin_info (admin_id, admin_user_id, admin_type_id, 
      admin_time)
    values (#{adminId,jdbcType=INTEGER}, #{adminUserId,jdbcType=INTEGER}, #{adminTypeId,jdbcType=INTEGER}, 
      #{adminTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.seer.entity.Admininfo">
    update seer_admin_info
    set admin_user_id = #{adminUserId,jdbcType=INTEGER},
      admin_type_id = #{adminTypeId,jdbcType=INTEGER},
      admin_time = #{adminTime,jdbcType=TIMESTAMP}
    where admin_id = #{adminId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select admin_id, admin_user_id, admin_type_id, admin_time
    from seer_admin_info
    where admin_id = #{adminId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select admin_id, admin_user_id, admin_type_id, admin_time
    from seer_admin_info
  </select>
</mapper>