<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.seer.dao.AdmintypeMapper">
  <resultMap id="BaseResultMap" type="com.nf147.seer.entity.Admintype">
    <id column="admin_type_id" jdbcType="INTEGER" property="adminTypeId" />
    <result column="admin_type_name" jdbcType="VARCHAR" property="adminTypeName" />
    <result column="admin_interest_id" jdbcType="INTEGER" property="adminInterestId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seer_admin_type
    where admin_type_id = #{adminTypeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.seer.entity.Admintype">
    insert into seer_admin_type (admin_type_id, admin_type_name, admin_interest_id
      )
    values (#{adminTypeId,jdbcType=INTEGER}, #{adminTypeName,jdbcType=VARCHAR}, #{adminInterestId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.seer.entity.Admintype">
    update seer_admin_type
    set admin_type_name = #{adminTypeName,jdbcType=VARCHAR},
      admin_interest_id = #{adminInterestId,jdbcType=INTEGER}
    where admin_type_id = #{adminTypeId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select admin_type_id, admin_type_name, admin_interest_id
    from seer_admin_type
    where admin_type_id = #{adminTypeId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select admin_type_id, admin_type_name, admin_interest_id
    from seer_admin_type
  </select>
</mapper>