<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.seer.dao.IndustryMapper">
  <resultMap id="BaseResultMap" type="com.nf147.seer.entity.Industry">
    <id column="industry_id" jdbcType="INTEGER" property="industryId" />
    <result column="industry_name" jdbcType="VARCHAR" property="industryName" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seer_industry
    where industry_id = #{industryId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.seer.entity.Industry">
    insert into seer_industry (industry_id, industry_name)
    values (#{industryId,jdbcType=INTEGER}, #{industryName,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.seer.entity.Industry">
    update seer_industry
    set industry_name = #{industryName,jdbcType=VARCHAR}
    where industry_id = #{industryId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select industry_id, industry_name
    from seer_industry
    where industry_id = #{industryId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select industry_id, industry_name
    from seer_industry
  </select>
</mapper>