<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.prophet.dao.InterestMapper">
  <resultMap id="BaseResultMap" type="com.nf147.prophet.entity.Interest">
    <id column="interest_id" jdbcType="INTEGER" property="interestId" />
    <result column="interset_name" jdbcType="VARCHAR" property="intersetName" />
    <result column="interset_img" jdbcType="VARCHAR" property="intersetImg" />
    <result column="interset_describe" jdbcType="LONGVARCHAR" property="intersetDescribe" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seer_interest
    where interest_id = #{interestId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.prophet.entity.Interest">
    insert into seer_interest (interest_id, interset_name, interset_img, 
      interset_describe)
    values (#{interestId,jdbcType=INTEGER}, #{intersetName,jdbcType=VARCHAR}, #{intersetImg,jdbcType=VARCHAR}, 
      #{intersetDescribe,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.prophet.entity.Interest">
    update seer_interest
    set interset_name = #{intersetName,jdbcType=VARCHAR},
      interset_img = #{intersetImg,jdbcType=VARCHAR},
      interset_describe = #{intersetDescribe,jdbcType=LONGVARCHAR}
    where interest_id = #{interestId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select interest_id, interset_name, interset_img, interset_describe
    from seer_interest
    where interest_id = #{interestId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select interest_id, interset_name, interset_img, interset_describe
    from seer_interest
  </select>
</mapper>