<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.prophet.dao.IssueMapper">
    <resultMap id="BaseResultMap" type="com.nf147.prophet.entity.Issue">
        <id column="issue_id" jdbcType="INTEGER" property="issueId"/>
        <result column="issue_interest_id" jdbcType="INTEGER" property="issueInterestId"/>
        <result column="issue_title" jdbcType="VARCHAR" property="issueTitle"/>
        <result column="issue_user_id" jdbcType="INTEGER" property="issueUserId"/>
        <result column="issue_anonymous" jdbcType="TINYINT" property="issueAnonymous"/>
        <result column="issue_essence" jdbcType="TINYINT" property="issueEssence"/>
        <result column="issue_ban" jdbcType="TINYINT" property="issueBan"/>
        <result column="issue_create_time" jdbcType="TIMESTAMP" property="issueCreateTime"/>
        <result column="issue_reply" jdbcType="INTEGER" property="issueReply"/>
        <result column="issue_views" jdbcType="INTEGER" property="issueViews"/>
        <result column="issue_content" jdbcType="LONGVARCHAR" property="issueContent"/>
    </resultMap>
    <select id="selectAllIssueByinterestId" resultType="com.nf147.prophet.entity.Issue">
    select * from seer_issue
    where issue_interest_id = #{interestId}
    order by issue_views
    DESC limit #{starNum},#{endNum}
  </select>
    <select id="getCount" resultType="java.lang.Integer">
    select count(*) from seer_issue
    where issue_interest_id = #{interestId}
  </select>
    <select id="selectUserLove" resultType="com.nf147.prophet.entity.Issue">
      select * from seer_issue where issue_interest_id
      in((select follow_interest_id from seer_interest_follow where follow_user_id = #{userId}))
      order by rand(), issue_anonymous DESC, issue_reply DESC , issue_views DESC limit 10
    </select>
    <select id="selectIssueByIssueId" resultType="com.nf147.prophet.entity.Issue">
        select * from seer_issue where issue_id = #{issueId}
    </select>

</mapper>