<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.prophet.dao.ReplyMapper">
    <resultMap id="BaseResultMap" type="com.nf147.prophet.entity.Reply">
        <id column="reply_id" jdbcType="INTEGER" property="replyId"/>
        <result column="reply_issue_id" jdbcType="INTEGER" property="replyIssueId"/>
        <result column="reply_reply_id" jdbcType="INTEGER" property="replyReplyId"/>
        <result column="reply_tips" jdbcType="VARCHAR" property="replyTips"/>
        <result column="reply_user_id" jdbcType="INTEGER" property="replyUserId"/>
        <result column="reply_time" jdbcType="TIMESTAMP" property="replyTime"/>
        <result column="reply_praise" jdbcType="INTEGER" property="replyPraise"/>
        <result column="reply_invalid" jdbcType="TINYINT" property="replyInvalid"/>
        <result column="reply_content" jdbcType="LONGVARCHAR" property="replyContent"/>
        <association property="userInfo" javaType="com.nf147.prophet.entity.User" autoMapping="true"/>
    </resultMap>
    <insert id="insertReply" parameterType="com.nf147.prophet.entity.Reply">
        <selectKey resultType="java.lang.Integer" keyProperty="replyId" order="AFTER">
            SELECT LAST_INSERT_ID() as replyId
        </selectKey>
        insert into seer_reply(reply_issue_id,reply_reply_id,reply_content,reply_user_id)
        values (#{replyIssueId},#{replyReplyId},#{replyContent},#{replyUserId})
    </insert>
    <update id="praiseAddOne">
        update seer_reply set reply_praise = reply_praise + 1 where reply_id = #{replyId}
    </update>
    <update id="praiseNotOne">
        update seer_reply set reply_praise = reply_praise - 1 where reply_id = #{replyId}
    </update>

    <select id="getReplysByIssueId" resultMap="BaseResultMap">
        select
        r.* ,
        u.*
        from seer_reply r,seer_user u
        where r.reply_user_id = u.user_id
        and r.reply_issue_id = #{issueId}
        and r.reply_reply_id is null
        and r.reply_invalid = 0
        order by r.reply_praise DESC , r.reply_time DESC limit #{star},#{end}
    </select>
    <select id="getReplysByIssueIdCount" resultType="java.lang.Integer">
        select count(*) from seer_reply where
        reply_issue_id = #{issueId}
        and reply_reply_id is null
        and reply_invalid = 0
    </select>
    <select id="getCount" resultType="java.lang.Integer">
        select count(*) from seer_reply
        where reply_issue_id = #{issueId} and reply_invalid = 0
    </select>
    <select id="getReplyReply" resultMap="BaseResultMap">
        select
        r.*,
        u.* from seer_reply r, seer_user u
        where
        r.reply_user_id = u.user_id and
        r.reply_invalid = 0 and
        r.reply_reply_id = #{replyId} limit #{star},#{end}
    </select>
    <select id="getReplyReplyCount" resultType="java.lang.Integer">
        select
        count(*)
        from seer_reply
        where
        reply_reply_id = #{replyId}
    </select>

    <select id="selectReplyByReplyId" resultMap="BaseResultMap">
        select
        r.* ,
        u.*
        from seer_reply r,seer_user u
        where r.reply_user_id = u.user_id
        and reply_id = #{replyId}
    </select>


</mapper>