<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.prophet.dao.ReplypraiseMapper">
  <resultMap id="BaseResultMap" type="com.nf147.prophet.entity.Replypraise">
    <id column="praise_id" jdbcType="INTEGER" property="praiseId" />
    <result column="praise_reply_id" jdbcType="INTEGER" property="praiseReplyId" />
    <result column="praise_user_id" jdbcType="INTEGER" property="praiseUserId" />
    <result column="praise_time" jdbcType="TIMESTAMP" property="praiseTime" />
  </resultMap>
  <insert id="insert" parameterType="com.nf147.prophet.entity.Replypraise">
    insert into seer_reply_praise (praise_reply_id, praise_user_id)
    values (#{praiseReplyId,jdbcType=INTEGER}, #{praiseUserId,jdbcType=INTEGER})
  </insert>
  <delete id="deletePraise">
    delete from seer_reply_praise where praise_reply_id = #{replyId} and praise_user_id = #{userId}
  </delete>
  <select id="selectPraise" resultType="java.lang.Integer">
    select count(*) from seer_reply_praise where praise_reply_id = #{replyId} and praise_user_id = #{userId}
  </select>
</mapper>