<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nf147.prophet.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.nf147.prophet.entity.User">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_pwd" jdbcType="CHAR" property="userPwd" />
    <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
    <result column="user_birthday" jdbcType="DATE" property="userBirthday" />
    <result column="user_portrait_url" jdbcType="VARCHAR" property="userPortraitUrl" />
    <result column="user_background_img" jdbcType="VARCHAR" property="userBackgroundImg" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from seer_user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nf147.prophet.entity.User">
    insert into seer_user (user_id, user_name, user_pwd, 
      user_email, user_birthday, user_portrait_url, 
      user_background_img)
    values (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{userPwd,jdbcType=CHAR}, 
      #{userEmail,jdbcType=VARCHAR}, #{userBirthday,jdbcType=DATE}, #{userPortraitUrl,jdbcType=VARCHAR}, 
      #{userBackgroundImg,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.nf147.prophet.entity.User">
    update seer_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_pwd = #{userPwd,jdbcType=CHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_birthday = #{userBirthday,jdbcType=DATE},
      user_portrait_url = #{userPortraitUrl,jdbcType=VARCHAR},
      user_background_img = #{userBackgroundImg,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
    <update id="changePwd">
    update seer_user
    set user_pwd = #{newPwd,jdbcType=CHAR}
    where user_id = #{userId,jdbcType=INTEGER}
    </update>
  <update id="upUserInfo" parameterType="com.nf147.prophet.entity.User">
    update seer_user
    set user_name = #{userName,jdbcType=VARCHAR},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_birthday = #{userBirthday,jdbcType=DATE},
      user_portrait_url = #{userPortraitUrl,jdbcType=VARCHAR},
      user_background_img = #{userBackgroundImg,jdbcType=VARCHAR}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select user_id, user_name, user_pwd, user_email, user_birthday, user_portrait_url, 
    user_background_img
    from seer_user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select user_id, user_name, user_pwd, user_email, user_birthday, user_portrait_url, 
    user_background_img
    from seer_user
  </select>
    <select id="selectByEmail" resultType="com.nf147.prophet.entity.User">
      select user_id, user_name, user_pwd, user_email, user_birthday, user_portrait_url,
      user_background_img
      from seer_user where user_email = #{userEmail,jdbcType=VARCHAR}
    </select>
    <select id="selectByName" resultType="com.nf147.prophet.entity.User">
      select user_id, user_name, user_pwd, user_email, user_birthday, user_portrait_url,
      user_background_img
      from seer_user where user_name = #{userName,jdbcType=VARCHAR}
    </select>
</mapper>